{% extends 'base.html.twig' %}

{% block title %}Produit | Admin{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <a href="{{ path('products_index') }}"><i class="fas fa-chevron-left"></i> Retour</a>.
    <h1>Modifier produit</h1>
    
    <div class="my-2 row">
        <div class="col-sm-6">
            <h3>Details</h3>
            <hr>
            <img src="/img/produits/{{product.photoURL}}" width="150px" class="my-5" />

            {{ include('products/_form.html.twig', {'button_label': 'Modifier'}) }}
        
            {{ include('products/_delete_form.html.twig') }}
        </div>
        <div class="col-sm-6">
            <h3>Options</h3>
            <hr>

            
            {{ form_start(optionProductForm) }}
            <div class="row my-3">
                    <div class="col-sm-4">
                        {{ form_widget(optionProductForm.product) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(optionProductForm.productOption) }}
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-info btn-block" type="submit">Ajouter</button>
                    </div>
                </div>
            {{ form_end(optionProductForm) }}


            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Option</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for option_to_product in option_to_products %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ option_to_product.productOption }}</td>
                            
                            <td>
                               
                                <form method="post" action="{{ path('option_to_products_delete', {'id': option_to_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="referer"  value="{{app.request.headers.get('referer')}}"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option_to_product.id) }}">
                                    <button class="btn text-danger"><i class="fas fa-trash"></i></button>
                                </form>
                                
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
